name: Publish fixcompliance
on:
  push:
    tags:
      - "*.*.*"
    branches:
        - main
  pull_request:
    paths:
      - 'fixcompliance/**'
      - '.github/**'

jobs:
  fixcompliance:
    name: "fixcompliance"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: 'x64'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox wheel flake8 build

      - name: Run tests
        run: tox

      - name: Build a binary wheel and a source tarball
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/

      - name: Publish distribution to PyPI
        if: github.ref_type == 'tag'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_FIXCOMPLIANCE }}
          packages_dir: ./dist/

      - name: Trigger workflow in fixinventory repo
        if: ${{ github.actor != 'someci' }}
        env:
          GITHUB_TOKEN: ${{ secrets.SOME_CI_PAT }}
        run: |
          sleep 300
          curl \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: token $GITHUB_TOKEN" \
          https://api.github.com/repos/someengineering/fixinventory/dispatches \
          -d '{"event_type": "bump_fixcompliance"}'
